.svg-inline--fa {
    vertical-align: -0.200em !important;
  }
  
  .rounded-social-buttons {
    text-align: center !important;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative !important;
    cursor: pointer !important;
    width: 3.125rem !important;
   
    height: 3.125rem !important;
   
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube{
    font-size: 28px;
  }
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  
  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  
  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }
  
  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #cd486b;
  }
  
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #cd486b;
    background: #fefefe;
    border-color: #cd486b;
  }
  .dr
{
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white; 
}
.rounded-social-buttons .social-button.insta {
    background : radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
     radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
     radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
     radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
     radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
     radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
     radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
     linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
 }
 .rounded-social-buttons .social-button.insta:hover, .rounded-social-buttons .social-button.insta:focus {
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
   background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
   color: white;
   /* -webkit-background-clip: text; */
   -webkit-text-fill-color: transparent;
}
.rounded-social-buttons .fa-instagram
  {
    font-size: 37px;
  }
@media(max-width:344px) {
  .rounded-social-buttons .social-button {
     width: 2.750rem !important;
     height: 2.75rem !important;
     border-radius: 1.4876rem;
     font-size: 1.3625rem;
  }
}
  /*.gotopbtn
  {
    position: fixed;
    width:50px;
    height:50px;
    background: black;
    bottom:40px;
    right:50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
  }*/
