/* .svg-inline--fa {
    vertical-align: -0.200em !important;
  } */

  .rounded-social-buttons {
    text-align: center !important;
  }

  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative !important;
    cursor: pointer !important;
    width: 3.125rem !important;

    height: 3.125rem !important;

    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube{
    font-size: 28px;
  }
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }

  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }

  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }

  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }

  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }

  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }

  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }

  .rounded-social-buttons .social-button.instagram {
    background: #cd486b;
  }

  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #cd486b;
    background: #fefefe;
    border-color: #cd486b;
  }
  .dr
{
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.rounded-social-buttons .social-button.insta {
    background : radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
     radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
     radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
     radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
     radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
     radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
     radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
     linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
 }
 .rounded-social-buttons .social-button.insta:hover, .rounded-social-buttons .social-button.insta:focus {
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
   background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
   color: white;
   /* -webkit-background-clip: text; */
   -webkit-text-fill-color: transparent;
}
.rounded-social-buttons .fa-instagram
  {
    font-size: 34px;
  }
@media(max-width:344px) {
  .rounded-social-buttons .social-button {
     width: 2.750rem !important;
     height: 2.75rem !important;
     border-radius: 1.4876rem;
     font-size: 1.3625rem;
  }
}
  /*.gotopbtn
  {
    position: fixed;
    width:50px;
    height:50px;
    background: black;
    bottom:40px;
    right:50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
  }*/











.drishti-map{
    height: 45vh;
    padding: 20px 0px 0px 0px;
    background-color: #202020;
}

.new-footer{
    display: flex;
    background-color: #202020;
}

.drishti-copyright{
    margin: 40px 0px 35px 20px;
    width: 45%;
}

.drishti-copyright span{
    color: rgb(250, 252, 254);
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.drishti-home{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drishti-home a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.drishti-home a:hover{
    font-size: 50px;
    transition: 0.2s ease;
}

.drishti-social{
    width: 45%;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}
/*
.backhome-link{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backhome-link a{
    width: 100%;
    margin: 15px 0 15px 0;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(7,20,30);
    background-color: rgb(245, 240, 230);
} */

@media(max-width : 540px) {
    .drishti-map{
        height: 20vh;
        padding: 10px 0px 0px 0px;
    }

    .new-footer{
        background-color: rgb(24, 30, 40);
        display:grid;
    }

    .drishti-copyright{
        text-align: center;
        margin: 30px 0 25px 0;
        width: 100%;
        grid-row: 3;
    }

    .drishti-copyright span{
        font-size: 14px;
    }

    .drishti-home{
        text-align: center;
        margin: 30px 0 25px 0;
        width: 100%;
        grid-row: 1;
    }

    .drishti-social{
        text-align: center;
        margin: 30px 0 25px 0;
        width: 100%;
        margin-right: 0;
        grid-row: 2;
        display: flex;
        justify-content: center;
    }
}









.contact-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button {
   display: inline-block;
   position: relative !important;
   cursor: pointer !important;
   width: 3.125rem !important;
   height: 3.125rem !important;
   border: 0.125rem solid transparent;
   padding: 0;
   text-decoration: none;
   text-align: center;
   color: #fefefe;
   font-size: 1.5625em;
   font-weight: normal;
   line-height: 3.125rem;
   border-radius: 1.6875rem;
   transition: all 0.3s ease;
   margin-right: 0.3rem;
   /* margin-bottom: 0.25rem; */
}

.social-button.facebook:hover {
    color: #3b5998;
    background-color: #fefefe;
    transition: all 0.4s ease;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.social-button.insta:hover {
    color: #dd2a7b;
    background-color: #fefefe;
    transition: all 0.4s ease;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.social-button.linkedin:hover {
    color: #0077b5;
    background-color: #fefefe;
    transition: all 0.4s ease;
    margin-bottom: 0.3rem;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.social-button.github:hover {
    color: #202020;
    background-color: #fefefe;
    transition: all 0.4s ease;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.social-button.mail:hover {
    color: #34a853;
    background-color: #fefefe;
    transition: all 0.4s ease;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.social-button.youtube:hover {
    color: #c4302b;
    background-color: #fefefe;
    transition: all 0.4s ease;
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}
