.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 1;
 }
 
 .demo .large-header {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    /*text-align: center;*/
    top: 32%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    font-weight: 500;
 }
 
 
 .demo .main-title {
    text-transform: uppercase;
    font-size:180px;
    font-weight: 520;
    letter-spacing: 0.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 .demo .main-title-2 {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 44%;
    text-align: center;
    
 }
 @media(max-width:938px)
 {
    .demo .main-title {
        text-transform: uppercase;
        font-size:150px;
        font-weight: 520;
        letter-spacing: 0.1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
     }
     .main-title
     {
         top:35%;
     }
     .demo .main-title-2
     {
         top:46%;
         font-size: 50px;
     }
 }
 @media(max-width:700px)
 {
    .demo .main-title {
        text-transform: uppercase;
        font-size:130px;
        font-weight: 520;
        letter-spacing: 0.1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
     }
     .main-title
     {
         top:30%;
     }
     .demo .main-title-2
     {
         top:40%;
         font-size: 45px;
     }
 }
 @media(max-width:570px)
 {
    .demo .main-title {
        text-transform: uppercase;
        font-size:100px;
        font-weight: 520;
        letter-spacing: 0.1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
     }
     .main-title
     {
         top:30%;
     }
     .demo .main-title-2
     {
         top:40%;
         font-size: 45px;
     }
 }
 @media(max-width:460px)
 {
    .demo .main-title {
        text-transform: uppercase;
        font-size:70px;
        font-weight: 520;
        letter-spacing: 0.1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
     }
     .main-title
     {
         top:27%;
     }
     .demo .main-title-2
     {
         top:35%;
         font-size: 40px;
         text-align: center;
     }
 }