html
{
    overflow-x: hidden;
}
body
{
    overflow-x: hidden;  
}
.r
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}
.v1 {
    height: 60px;
    border-left: 1px solid white;
    position: relative;
    top : 0;
    margin-left: 0%;
}
.nit_photo {
    margin-left: 0%;
    margin-right: auto;
    display: inline-block;
    height: 80px;
    width: auto;
}
@media(max-width:870px)
{
    .r
    {
        padding-left: 10px;
        padding-right: 10px;
        
    }
}
@media(max-width:550px)
{
    .r
    {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
@media(max-width:978px)
{
    .hello
    {
        padding-top: 50px;
    }
}
@media(max-width:978px)
{
    .hello1
    {
        padding-top: 80px;
    }
}
.a1
{
    padding-bottom: 15px;
}
.a2
{
    padding-bottom: 15px;
}
.typed
{
    color:white;
     font-size: 60px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     text-align: center;
}
@media(max-width:680px)
{
    .typed{
        font-size: 50px;
        text-align: center;
    }
}
.navbar
{
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.carosel
{
    padding-top: 20px;
}
@media(max-width:450px)
{
    .carosel
        {
            padding-top: 1px;
        }
}
.bg
{
    background-position:center;
    text-align:center;
    width:auto;
    background-size:cover;
    background-attachment: fixed;"
}
@media(max-width:700px)
{
    .bg
    {  
        background-position:center;
        text-align:center;
        width:auto;
        background-size:cover;
        background-attachment: fixed;"
    }
}
@media (max-width: 550px) { 
    .hello4{
        height: 250px;
    }

    .hello5{
        height: 250px;
    }
 
    .hello6{
        height: 250px;
    }
}
@media (max-width: 460px) { 
    .hello4{
        height: 300px;
    }

    .hello5{
        height: 300px;
    } 
    .hello6{
        height: 300px;
    }
}

.who
{
    padding-right: 80px;
    padding-left:80px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:beige;
    
}
.who .card
{
    border: 1px solid black;
}
.h11
{   
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    font-size: 50px;
    /*color:rgb(108, 110, 211);*/
    font-family:'Times New Roman', Times, serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.h12
{   
    background-color:rgba(29, 29, 243, 0.75);
    color: white;
    text-align: center;
    font-size: 50px;
    /*font-size: 50px;
    color:rgb(108, 110, 211);*/
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family:'Times New Roman', Times, serif;
}
.h13
{   
    background-color:rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    font-size: 50px;
    /*font-size: 50px;
    color:rgb(108, 110, 211);*/
    font-family: 'Times New Roman', Times, serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 1px;
    padding-right: 1px;
}
.a
{
    padding-bottom: 10px;
}
.b
{
    padding-bottom: 10px;
}
.h1
{
    text-align: justify;
     font-size: 24px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     text-decoration: none;
     text-justify:inter-cluster; 
}
@media(max-width:500px)
{
    .v1 {
        height: 40px;
        border-left: 1px solid white;
        top : 0;
        margin-right: 2%;
        margin-left: 0%;
    }
    .a
    {
      padding-bottom: 20px;  
    }
    .b
    {
        padding-bottom: 20px; 
    }
    .who
    {
        
        padding-right: 20px;
        padding-left:20px;
        padding-top: 30px;
        padding-bottom: 50px;
        background-color: white;
    }
    .h11
    {
        font-size: 45px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 1px;
        padding-right: 1px;
        background-color:rgba(0, 0, 0, 0.75);
    }
    .h12
    {
        background-color:/*rgba(29, 29, 243, 0.9);*/rgba(76, 83, 217,0.85);
        font-size: 45px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .h13
    {
        background-color:rgba(0, 0, 0, 0.75);
        font-size: 45px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 1px;
        padding-right: 1px;
    }
    .h1
    {
     text-align:center;
     font-size: 22px;
     font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .a1
{
    padding-bottom: 0px;
}
.a2
    {
        padding-bottom: 0px;
    }
}
.dob .x
{
    color:white;
     padding-top:30px;
}
@media(max-width:800px)
{
    .dob .x{
        padding-top:4px;
    }
}
.dob
{
    padding-left: 50px;
     padding-top: 50px;
    padding-right: 50px;
}
@media(max-width:450px)
{
    .dob
    {
        padding-right: 0px;
        padding-left:0px;
    }
}
.drishti
{
    font-size:150px; 
    color: white;font-weight:480;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
@media(max-width:800px)
{
    .v1 {
        height: 50px;
        border-left: 1px solid white;
        top : 0;
        margin : 0%;
        margin-left: 0%;
    }
    .drishti{
        font-size: 80px;
        color: white;font-weight:500;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
}
@media(max-width:449px)
{
    .drishti{
        font-size: 40px;
        color: white;font-weight:500;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
}


.im
{
    /* height:100px; */
    /* width:260px; */
    width: 180px;
    height: auto;
}
@media(max-width:400px)
{
    .im
    {
        /* height:70px; */
        /* width:150px; */
        width: 130px;
        height: auto;
        margin-right: 0%;
    }
    .v1 {
        height: 40px;
        border-left: 1px solid white;
        top : 0;
        margin-right: 2%;
        margin-left: 0%;
    }
    .nit_photo {
        height: 60px;
        width: auto;
    }
}
.dropdown-menu
  {
    background-image: url('images/top.jpg');
  }
  .it
  {
    color: white;
  }
