.navbar-nav{
    font-family: Arial;
    font-size: 20px;
}
/*.drop1{
    font-family: Helvetica;
    font-weight: bold;
}
.drop2{
    font-family: Helvetica;
    font-weight: bold;
}
.drop3{
    font-family: Helvetica;
    font-weight: bold;
}*/
.con{
   border:2px solid transparent;
    padding-left: 20px;
    padding-right: 10px;
}

.contact{
    padding-left: 90px;
    padding-right: 90px;
}

body{
    background-color: aliceblue;
}
