/* custom fonts */

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Regular.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Regular.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Light.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Light.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Medium.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Medium.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Bold.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Bold.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}





/* start */






html
{
    overflow-x: hidden;
}
body
{
    overflow-x: hidden;
    font-family: 'PlusJakartaSans', Helvetica, Arial, sans-serif;
    /* background-color: #f6f8fa; */
    /* background-image: url('images/top.jpg'); */
    background-image: url('images/s.jpg');
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.8);
    /* background-repeat: repeat-y; */
    background-attachment: fixed;
}

.navbar
{
    font-size: 20px;
    font-family: 'PlusJakartaSans', Helvetica, Arial, sans-serif;
}
.underline
{
    height: 5px;
    background-color: black;
}
.im
{
    /* height:100px; */
    /* width:260px; */
    width: 150px;
    height: auto;
}




.dropdown-menu
  {
    background-image: url('images/s.jpg');
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.8);
  }








.teams-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.teams-title{
    text-align: center;
    padding: 20px 0 30px 0;
}

.teams-title h1{
    font-weight: bold;
    font-size: 70px;
    color: rgb(20,34,41);
}

.teams-title h1 span{
    font-weight: normal;
    font-size: 50px;
    font-style: italic;
}

.teams-title h3{
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 2px;
    color: black;
}

.teams-title h2{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40px;
    /* color: rgb(20,34,41); */
    /* color: white; */
    /* border: 2px solid rgb(20,34,41); */
    border: 2px solid black;
    border-radius: 10px;
    padding: 14px 50px 14px 50px;
    transition: 0.1s ease;
}

.teams-title h2:hover{
    /* background-color: rgb(20,34,41);
    color: rgb(245, 251, 253); */
    background-color: white;
    color: black;
    transition: 0.2s ease;
}

.teamsimg{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.teams-images{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 25px;
}

/* .circle-row{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
} */


.person-info{
    margin: 0 15px 35px 15px;
}

.person-image img{
    height: auto;
    width: 15vw;
    border-radius: 5%;
    /* filter: grayscale(100%);
    -webkit-filter: grayscale(100%); */
    transition: 0.1s ease;
    border: 0.5px solid black;
}
/*
.person-image img:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: 0.2s ease;
} */

.person-text{
    text-align: center;
}

.person-text h1{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    /* color: rgb(20,34,41); */
    color: black;
    letter-spacing: 1px;
}

.person-text h3{
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    /* color: rgba(20,34,41, 0.6); */
}

.person-text h2{
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    /* color: rgba(20,34,41, 0.6); */
}







.faculty-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faculty-card{
    width: 24vw;
    margin: 20px 30px 0px 30px;
    border: 1px solid black;
    border-radius: 15px;
    /* background-color: rgba(253, 249, 249, 0.9); */
    background-color: transparent;
    display: grid;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
    padding-bottom:10px ;
    margin-bottom: 100px;
}

.faculty-card:hover{
    background-color: transparent;
    box-shadow: 0 0 10px black;
}

.faculty-image{
    margin: 20px 0 0 0;
}

.faculty-image img{
    width: 13vw;
    height: auto;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.faculty-info{
    margin: 40px 10px 40px 10px;
    text-align: center;
}

.faculty-info h1{
    font-size: 18px;
    font-weight: bolder;
    color: black;
}

.faculty-info h2{
    font-size: 22px;
    color: black;
    margin-bottom: 40px;
}

.faculty-info a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgb(40, 130, 245);
    color: white;
    border: 2px solid rgb(40, 130, 245);
    border-radius: 10px;
    padding: 9px 20px 9px 20px;
    transition: all 0.1s;
}

.faculty-info a:hover{
    background-color: transparent;
    color: rgb(40, 130, 245);
    border: 2px solid rgb(40, 130, 245);
    transition: all 0.2s;
}

































@media(max-width:640px) {
    .im{
        width: 130px;
        height: auto;
    }

    .teams-head{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .teams-title{
        text-align: center;
        padding: 0px 0 0px 0;
    }

    .teams-title h2{
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 20px;
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        transition: 0.1s ease;
    }

    .teams-title h2:hover{
        background-color: white;
        color: black;
        transition: 0.2s ease;
    }

    .teamsimg{
        width: 100%;
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .teams-images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .person-info{
        margin: 30px 0 0 0;
        display: grid;
        justify-content: center;
    }

    .person-image img{
        height: auto;
        width: 42vw;
        border-radius: 50%;
    }

    .person-text{
        text-align: center;
    }

    .person-text h1{
        margin-top: 13px;
        line-height: 0.9em;
        font-size: 12px;
        font-weight: bolder;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
    }

    .person-text h3{
        font-size: 10px;
        line-height: 0.9em;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
    }

    .person-text h2{
        font-size: 11px;
        line-height: 0.9em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
    }

    .faculty-box{
        width: 100%;
        margin-bottom: 50px;
        display: grid;
        justify-content: center;
    }

    .faculty-card{
        width: 85vw;
        margin: 45px 0 0px 0;
    }

    .faculty-image{
        margin: 20px 0 0 0;
    }

    .faculty-image img{
        width: 65vw;
        height: auto;
        border: 0px solid transparent;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }

    .faculty-info{
        margin: 30px 0px 30px 0px;
        text-align: center;
    }

    .faculty-info h1{
        font-size: 16px;
        font-weight: bolder;
    }

    .faculty-info h2{
        font-size: 19px;
        margin-bottom: 20px;
    }

}


















  @media(max-width:945px)
  {
    .bottom
    {
      padding-bottom: 30px;
    }
  }
  .m
  {
    padding-top: 80px;
  }
  @media(max-width:945px)
  {
    .m
    {
      padding-top: 0px;
    }
  }
  /* .dropdown-menu
  {
    background-image: url('images/top.jpg');
  } */
  .it
  {
    color: white;
  }
