html
{
    overflow-x: hidden;
    
}
body
{
    overflow-x: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;   
   
}
.back
{
    background-image: url('images/s.jpg');
   /*background-size: cover;*/
   background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.8);
}
.underline
{
    height: 5px;
    background-color: black;
}
.navbar
{
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.workshop_2021
{
    padding-bottom: 100px;
}
.technovation
{
    padding-bottom: 30px;
}
.makerspace
{
    padding-bottom: 100px;
}
.grp
{
    padding-bottom: 100px;
}
.orientation
{
    padding-bottom:100px;
}
.workshop
{
    padding-bottom: 100px;
}
.img1
{
    padding-top: 0px;
}
.container-fluid .heading
{
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
}



.post{
    border: 3px solid #e3e6ea;
    text-align: center;
    padding: 17px;
    margin-bottom: 10%;
}
.post:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.10);
    transition: 0.3s;
 }
.post:hover > .btnrm {
    color: white;
    background-color: #ff817e;
    transition: 0.3s;
 }
.btnrm{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: darkslategray;
    color: white;
    margin-bottom: 30px;
}
.btnrm:hover{
        color: white;
        background-color: #ff817e; 
        transition: 0.3s;
 }
 /* .post img {
     height: 600px;
 } */
 @media(orientation: landscape) {
     .col-sm-4 {
         width: 100%;
     }
 }


@media(max-width:764px)
{
    .img1
    {
        padding-top: 50px;
    }
}
@media(max-width:978px)
{
    .hello
    {
        padding-top: 50px;
    }
    .hello1
    {
        padding-top: 100px;
    }
}
.dob .x
{
    color:white;
     padding-top:30px;
}
@media(max-width:800px)
{
    .dob .x{
        padding-top:4px;
    }
}
.dob
{
    padding-left: 50px;
     padding-top: 50px;
    padding-right: 50px;
}
@media(max-width:450px)
{
    .dob
    {
        padding-right: 0px;
        padding-left:0px;
    }
}
.im
{
    width: 180px;
    height: auto;
}
@media (max-width : 584px) {
    .container-fluid .heading
    {
        text-align: center;
        text-transform: uppercase;
        font-size: 55px;
    }
} 
@media(max-width : 440px) {
    .container-fluid .heading
    {
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
    }
}
@media(max-width:400px)
{
    .im
    {
        width: 130px;
        height: auto;
        margin-right: 0%;
    }
}
.style
{
    text-align: center;
}
@media(max-width:600px)
{
    .style
    {
        text-align:center;
    }
}
.img1 .wo
{
    padding-top: 10px;
}
.img1 .vo
{
    padding-top: 0px;
}
.img1 .tc
{
    padding-top: 10px;
}

.img1 .mini
{
    padding-top: 10px;
}
@media(max-width:750px)
{
    .img1 .wo
        {
            padding-top: 0px;
        }

    .img1 .vo 
    {
        padding-top: 0px;
    }
    .img1 .tc
    {
        padding-top: 0px;
    }

    .img1 .mini
        {
            padding-top: 0px;
        }
}
.dropdown-menu
  {
    background-image: url('images/s.jpg');
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .he
  {
    text-align: center;
    font-weight: 520;
  }
  .he-inner
  {
  text-align: justify;
  font-size: 25px;
  font-weight: 100;
  }
  .sur
  {
      padding-top: 20px;
  }
  @media(max-width:460px)
  {
    .he
    {
        font-weight: normal;
    }
      .he-inner
      {
          font-weight: normal;
          font-size: 20px;
      }
      .sur
      {
          padding-top: 0px;
      }
       .back
      {
        background-image: url('images/s.jpg');
        background-blend-mode: lighten;
        background-color: rgba(255, 255, 255, 0.7);
      }
  }
 
